{% extends 'sparepart/base.html'%} {% block content%}
{% load static %}
<br /><br>
<div class="container">
  <h1 class="card-header text-center"> RECEIPTS</h1><br>
  {% for sale in sales %}
  <div class="card">
    <div class="card-body">

      <p class="card-title">
      <h2>
        <h2 style="font-size: 25px; margin-left: 10px; margin-bottom: 0px; margin-top: 1px; margin-right: 200px;">
          <img class="logo" src="{% static 'images/logo3.jpeg' %}" style="width: 50px; height: 50px;" />
          
          BeRealMotorspareparts
        </h2>
        
      </h2>
      </p>
      <h3 class="card-title">Customer : {{sale.issued_to | title}}</h3>
      <h6 class="card-text">Item : {{sale.item}}</h6>
      <h6 class="card-text">Amount Paid: UGX{{ sale.amount_received }}</h6>
      <h6 class="card-text">Quantity: {{sale.quantity }}</h6>
      <h2>Total Price : UGX{{ sale.get_total }}</h2>
      <div style="flex: 1">
        <h6 class="card-text">Change Collected: UGX{{ sale.get_change }}</h6>
        <a href="{% url 'receipt_detail' sale.id %}">
          <input type="submit" value="Final Receipt" class="btn btn-dark" type="button" />
        </a>
      </div>
    </div>
  </div>
  <br />
  {% endfor %}
</div>
{% endblock %}